@mixin boder-with-gadient($top, $bottom) {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: linear-gradient(90deg, rgba(128, 128, 128, 0.2) 0%, #808080 48.96%, rgba(128, 128, 128, 0.2) 100%);
	position: absolute;
	top: $top;
	bottom: $bottom;
}