$main-font-color: #313131;
$accent-font-color: #D00B01;
$secondary-font-color: #C5C5C5;
$secondary-logo-text-color: #ADADAD;

$logo-font-family: "Pacifico", cursive;
$main-font-famiily: "Open Sans", sans-serif;

$transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);