.container {
	@extend %container;
	color: $main-font-color;
	font-family: $main-font-famiily;
}

.active {
	color: $accent-font-color;
	font-style: italic;

	transition: $transition;

	&:hover,
	&:focus {
		color: $font-hover-color;
		transition: $transition;
	}
}