<footer class="footer">
    <div class="container footer-container">
        <div class="left-part">
            <div class="logo">
                <a href="#">
                    <img src="img/logo-dark.png" alt="Logo" srcset="">
                </a>
            </div>
            <p class="footer-copyright-text">© 2020 Jessica White. Professional Fashion Photography. All Rights
                Reserved.</p>
        </div>
        <div class="right-part">
            <div class="social-media-footer-container">
                <ul class="social-media-list">
                    <li><img src="img/facebook-footer.svg" alt="Facebook"></li>
                    <li><img src="img/vimeo-footer.svg" alt="Vimeo"></li>
                    <li><img src="img/t-footer.svg" alt="T"></li>
                    <li><img src="img/twitter-footer.svg" alt="Twitter"></li>
                    <li><img src="img/chess-footer.svg" alt="Chess"></li>
                </ul>
                <input type="text" class="footer-seach" placeholder="Search the Site">
            </div>
            <div class="menu-container">
                <nav class="footer-navigation">
                    <ul class="nav-menu">
                        <li><a href="">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">features</a></li>
                        <li><a href="">portfolio</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>