<header class="header">
    <nav class="navigation-bar">
        <div class="logo">
            <a href="#">
                <img src="img/logo.png" alt="Logo" srcset="">
            </a>
        </div>
        <ul class="nav-menu">
            <li><a class="active-header-link " href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">features</a></li>
            <li><a href="">portfolio</a></li>
            <li><a href="">blog</a></li>
            <li><a href="">contacts</a></li>
        </ul>
    </nav>
</header>