<header class="header">
    <nav class="navigation-bar">
        <div class="logo">
            <a href="#">
                <span class="logo-main-text">
                    Jessica<span class="red-text">White</span>
                </span>
                <br>
                <span class="small-text">professional fashion photography</span>
            </a>
        </div>
        <ul class="nav-menu">
            <li><a class="active" href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">features</a></li>
            <li><a href="">portfolio</a></li>
            <li><a href="">blog</a></li>
            <li><a href="">contacts</a></li>
        </ul>
    </nav>
</header>