<section class="container articles-container">
    <article>
        <h3 class="article-title">egestas sed convallis metus!</h3>
        <p class="article-subtitle">
            Vestibulum tincidunt ultricies aliquam. Donec porta mi nec tortor sagittis rhoncus. Nunc ante arcu,
            ornaresit gravida
            rutrum ut, facilisis et lacus. Aliquam mauris arcu, interdum eu fermentum tincidunt.
        </p>
        <ul class="article-list">
            <li>
                <img src="img/ph_clock-bold.svg">
                <span class="article-list-text">Tempor
                    lacus mauris at ipsum. Suspendisse adipiscing scelerisque dui nec sodales.</span>
            </li>
            <li>
                <img src="img/ic_baseline-star.svg">
                <span class="article-list-text">Pellentesque nisl tuise vestibulum sed adipiscing eu, venenatis eget
                    elit.</span>
            </li>
            <li>
                <img src="img/mdi_camera.svg">
                <span class="article-list-text">Maecenas sit amet pellentesque ligula.</span>
            </li>
            <li>
                <img src="img/gg_qr.svg">
                <span class="article-list-text">Aliquam erat volutpat suspendisse ullamcorper, risus quis laoreet
                    elementum, massa nisl adipiscing.</span>
            </li>
            <li>
                <img src="img/ion_person-sharp.svg">
                <span class="article-list-text">Ac adipiscing erat ante sit amet est. Sed accumsan, mauris in dignissim
                    tristique.</span>
            </li>
        </ul>
        <p class="article-footer-text">Duis vel ligula et libero iaculis facilisis in vel justo. Duis lacinia orci ut
            tellus interdum dignissim. Fusce eugei
            scelerisque enim. Phasellus nec libero lectus. Quisque posuere mi non nibh facilisis semper. Donec lorem
            suscipit est
            sed mauris eleifend congue. Class aptent taciti sociosqu ad litora torquent <span class="active">per
                conubia...</span></p>
    </article>
    <div class="section-content-news">
        <h3 class="article-title">Latest news
            <div class="arrors-container">
                <img src="img/previous.svg">
                <img src="img/next.svg">
            </div>
        </h3>
        <ul class="section-content-items">
            <li>
                <div class="title-container">
                    <div class="date-container">
                        15 apr <span class="year">2019</span></div>
                    <div class="title-text">
                        <h4 class="section-item-title">Sed massa dui, porta corper ac varius!

                        </h4>
                        <p class="section-item-subtitle">Posted by Anna Smith / In City Tags: eget, mauris</p>
                    </div>
                </div>
                <p class="title-item-text">
                    Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor
                    etoq vestibulum.
                    Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit.
                    Nullam pulvinarteses
                    lorem sed dui euismod eget interdum orci sodales. Pellentesque molestie ante a sapien lacinia. <a
                        class="active" href="">Read more</a>
                </p>
            </li>
            <li>
                <div class="title-container">
                    <div class="date-container">05 apr <span class="year">2019</span></div>
                    <div class="title-text">
                        <h4 class="section-item-title">eget & massa viviamu marius mas</h4>
                        <p class="section-item-subtitle">Posted by Anna Smith / In City Tags: eget, mauris</p>
                    </div>
                </div>
                <p class="title-item-text">
                    Cursus sed, aliquet nec odio. Integer ornare tincidunt neque a tristique. Phasellus porttitor millis
                    tortor etoq
                    vestibulum. Quisque ont lacus toirtor uis accumsan nibh. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nullam
                    ulvinarteses em sed dui ismod eget interdum. Quisque ont lacus toirtor uis accumsan nibh molestie.
                    <a class="active" href="#">Read
                        more</a>
                </p>
            </li>
        </ul>
    </div>
</section>