<section class=" container articles-list-container">
    <h3 class="article-title">Latest news
        <div class="arrors-container">
            <img src="img/previous.svg">
            <img src="img/next.svg">
        </div>
    </h3>

    <ul class="section-content-items">
        <li>
            <div class="article-image"></div>
            <div class="second-section-title-container">
                <div class="title-text">
                    <h4 class="section-item-title">ipsum dolor ac egestas mas

                    </h4>
                    <p class="section-item-subtitle">
                        Posted by <a href="#" class="author">John Doe</a> / 15 apr / In Vacation
                </div>
            </div>
            <p class="title-item-text">

                Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a
                ristiquet phasellus
                porttitor mollis tortor.<a class="active" href="">Read more...</a>
            </p>
        </li>
        <li>
            <div class="article-image"></div>
            <div class="second-section-title-container">
                <div class="title-text">
                    <h4 class="section-item-title">ipsum dolor ac egestas mas

                    </h4>
                    <p class="section-item-subtitle">
                        Posted by <a href="#" class="author">John Doe</a> / 15 apr / In Vacation
                </div>
            </div>
            <p class="title-item-text">

                Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a
                ristiquet phasellus
                porttitor mollis tortor.<a class="active" href="">Read more...</a>
            </p>
        </li>
        <li>
            <div class="article-image"></div>
            <div class="second-section-title-container">
                <div class="title-text">
                    <h4 class="section-item-title">ipsum dolor ac egestas mas

                    </h4>
                    <p class="section-item-subtitle">
                        Posted by <a href="#" class="author">John Doe</a> / 15 apr / In Vacation
                </div>
            </div>
            <p class="title-item-text">

                Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a
                ristiquet phasellus
                porttitor mollis tortor.<a class="active" href="">Read more...</a>
            </p>
        </li>
        <li>
            <div class="article-image"></div>
            <div class="second-section-title-container">
                <div class="title-text">
                    <h4 class="section-item-title">ipsum dolor ac egestas mas

                    </h4>
                    <p class="section-item-subtitle">
                        Posted by <a href="#" class="author">John Doe</a> / 15 apr / In Vacation
                </div>
            </div>
            <p class="title-item-text">

                Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a
                ristiquet phasellus
                porttitor mollis tortor. <a class="active" href="">Read more...</a>
            </p>
        </li>
    </ul>
</section>