<div class="shadow-border">
    <section class="container tweet-and-form-container">
        <div class="tweet-container-item">
            <h4 class="article-title">Latest tweets</h4>
            <ul class="tweet-section">
                <li>
                    <img class="twitter-img" src="img/twitter-copy.svg" alt="Twitter"><span class="tweet-section-text">
                        Nunc orci nisi, luctus vitae imperdiet a, iqum vel urna. Pellentesque est, in
                        tristique sapien
                        consequat a <span class="active">@dignissim</span>
                    </span>
                </li>
                <li class="second">
                    <img class="twitter-img" src="img/twitter-copy.svg" alt="Twitter"><span class="tweet-section-text">
                        Luctus vitae imperdiet, iquam vel urna. Que tincidunt laoreet est, in at a
                        purus at ullamcorper
                        pulvinar, massa libero!
                    </span>
                </li>
                <li>
                    <img class="twitter-img" src="img/twitter-copy.svg" alt="Twitter"><span class="tweet-section-text">
                        Iimperdiet a, iquam vel urna. Quetincidunt laoreet est, in tristique sapien at a
                        augue a tortor. Lectur
                        rhoncus <span class="active">@consequat</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="tweet-container-item">
            <h4 class="article-title">Get in touch!</h4>
            <form>
                <input type="text" class="tweet-form-input" placeholder="Name">
                <input type="text" class="tweet-form-input" placeholder="Email">
                <textarea name="" class="tweet-form-textarea">Message...</textarea>
                <div class="buttons-container">
                    <buttom class="form-button-container">clear form</buttom>
                    <buttom class="form-button-container">Send!</buttom>
                </div>
            </form>
        </div>
        <div class="tweet-container-item">
            <h4 class="article-title">Testimonials</h4>
            <ul class="tweet-section smaller">
                <li>
                    <span></span>
                    <img class="twitter-img speech-bubble" src="img/speech-bubble.svg" alt="Speech"><span
                        class="tweet-section-text">
                        Orci nisi, luctus vitae imperdiet a, iquam vel urna. Pellentesque tincidunt laoreet est, in
                        a purus at pulvinar, massa libero consequat magna.
                    </span>
                    <p class="author-container active">Anna Smith, Company inc.</p>
                </li>
                <li>
                    <img class="twitter-img speech-bubble" src="img/speech-bubble.svg" alt="Speech"><span
                        class="tweet-section-text">
                        Luctus vitae imperdiet, nisi lorem vel urna. Pellentesque, in
                        tristique sapien
                        consequat a purus at pulvinar, massa libero consequat egestas mas.
                    </span>
                    <p class="author-container active">John Doe, Company inc.</p>
                </li>
            </ul>
        </div>
        <div class="tweet-container-item">
            <h4 class="article-title">flickr photostream</h4>
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </div>
    </section>
</div>